#prod-index {

  .panel {
    border: 0;
    margin: 0;
    .panel-heading {
      margin: 0;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 30px;
      border: 0;
      border-radius: 0;
      background-color: $color-panel-title-bg;
      color: $color-panel-title-text;
    }
    .panel-body {
      padding-left: 30px;
      background-color: #f1f1f1;
    }
  }

  .page-title {
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    border-radius: 0;
    background-color: $color-page-title-bg;
    color: $color-page-title-text;
  }

  .product-container {
    border-top: $border;
    border-left: $border;
    border-bottom: $border;
    position: relative;

    img {
      width: 100%;
    }

    .product-description {
      a {
        text-decoration: none;
        color: $color-black;
        .product-name {
          padding: 15px 5px 5px 23px;
          font-weight: bold;
        }
      }

      .product-color {
        padding: 5px 5px 10px 23px;
        .box {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: $border;
        }
        .color-gray {background: $color-product-gray;}
        .color-white {background: $color-product-white;}
        .color-red {background: $color-product-red;}
        .color-orange {background: $color-product-orange;}
        .color-green {background: $color-product-green;}
        .color-black {background: $color-product-black;}
        .color-yellow {background: $color-product-yellow;}
        .color-brown {background: $color-product-brown;}
        .color-blue {background: $color-product-blue;}
        .color-silver {background: $color-product-silver;}
        .color-purple {background: $color-product-purple;}
        .color-gold {background: $color-product-gold;}
        .color-none {display: none;}
      }

      .product-specs {
        padding-top: 5px;
        padding-bottom: 60px;
        font-size: 0.9em;
      }
    }

    .btn {
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 90%;
      padding-top: 10px;
      padding-bottom: 10px; 
      border-radius: 0;
      border: 0;
      background: $button-bg;
      transform: translateX(-50%);

      &:hover {
        background: darken($button-bg, 10%);
      }
    }
  }
}