#prod-index {
  .panel {
    border: 0;
    margin: 0;
    .panel-heading {
      margin: 0;
      padding-top: 17px;
      padding-bottom: 17px;
      border: 0;
      border-radius: 0;
      background-color: $color-panel-title-bg;
      color: $color-panel-title-text;
    }
    .panel-body {
      background-color: #f1f1f1;
    }
  }

  .page-title {
    margin: 0;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 15px;
    border: rgb(218,218,218) 1px solid;
    border-radius: 0;
    background-color: $color-page-title-bg;
    color: $color-page-title-text;
  }
}