#prod-show {
  .carousel {
    padding-top: 40px;

    .carousel-indicators {
      padding-top: 30px;
      li, li.active {
        img {border: $border;}
        width: 20%;
        text-indent: 0;
      }

      li.active {
        img {border: black 1px solid;}
      }
    }

    .carousel-inner {
      .item {
        img {
          margin: 0 auto;
          width: 80%;
          padding-bottom: 60px;
        }
      } 
    }

    .carousel-control.left, .carousel-control.right {
      background-image: none !important;
      color: $color-asbestos;
    }
  }
  
}