$font-stack: 'Open Sans', sans-serif;

$color-honda: #cc0001;
$color-pomegranate: #c0392b;
$color-alizarin: #e74c3c;
$color-clouds: #ecf0f1;
$color-asbestos: #7f8c8d;
$color-black: #000;
$color-white: #fff;
$color-belize: #2980b9;
$color-nephritis: #27ae60;

$color-product-gray: gray;
$color-product-white: white;
$color-product-red: red;
$color-product-orange: orange;
$color-product-green: green;
$color-product-black: black;
$color-product-yellow: yellow;
$color-product-brown: brown;
$color-product-blue: blue;
$color-product-silver: silver;
$color-product-purple: purple;
$color-product-gold: gold;

$color-header: $color-white;
$color-header-button: darken($color-header, 10%);
$color-header-text: $color-black;

$color-panel-title-text: $color-white;
$color-panel-title-bg: #52565a;

$color-page-title-text: $color-black;
$color-page-title-bg: $color-clouds;

$button-bg: $color-pomegranate;

$border: rgb(218,218,218) 1px solid;