<div id="prod-index">

  <div class="row">
    <div class="col-sm-3 nopadding">

      <div class="panel">
        <h5 class="panel-heading">Category</h5>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" value="">Scooter</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Motorcycle</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Dream Series</label>
          </div>
        </div>
      </div>

      <div class="panel">
        <h5 class="panel-heading">Cylinder</h5>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" value="">100 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">110 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">125 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">150 cc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">250 cc</label>
          </div>
        </div>
      </div>

      <div class="panel">
        <h5 class="panel-heading">Cooling</h5>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" value="">Air-cooled</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Liquid-cooled</label>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-9 nopadding">
      <h3 class="page-title">
        Products
      </h3>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            Rajan
          </div>
          <div class="col-sm-4">
            Rajan
          </div>
          <div class="col-sm-4">
            Rajan
          </div>
        </div>
      </div>

    </div>

  </div>

</div>




